#sections {
  position: relative;
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 200px;
}

#viz {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
  margin-right: 5%;
  height: 600px;
  width: 50%;
  background-color: #ddd;
}